{% extends 'quiz_app/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="quizzes">
    {% for quiz in quizzes %}
        <a href="{% url 'quiz_details' pk=quiz.pk %}">
            <div class="quiz">
                <div class="quiz-rating">
                    <img src="/media/site/heart.png" alt="heart">
                    <p>2.2k</p>
                </div>
                    <h3 class="quiz-title">{{quiz}}</h3>
                <div class="quiz-info">
                    <div class="info-user">
                        <img src="/media/site/avatar.jpg" alt="user">
                        <p>{{quiz.author}}</p>
                    </div>
                    <div class="date">26dec 2023</div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}

{% endblock %}