<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quiz_app/css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <div class="user">
        {% if request.user.userprofile.avatar %}
            <img src="{{request.user.userprofile.avatar.url}}" alt="" class="user-img">
        {% else %}
            <img src="" alt="" class="user-img">
        {% endif %}
        <p class="user-name">{{request.user.username}}</p>
    </div>
    <div class="user-options">
        <div class="option">
            <img class="option-img" src="/media/site/settings.png" alt="">
            <a class="option-text" href="{% url 'user_settings' pk=request.user.pk %}">Settings</a>
        </div>
        <div class="option">
            <img class="option-img" src="/media/site/heart.png" alt="">
            <a class="option-text" href="{% url 'user_liked' pk=request.user.pk %}">Liked</a>
        </div>
        <div class="option">
            <img class="option-img" src="/media/site/logout.png" alt="">
            <a class="option-text" href="{% url 'logout' %}">Logout</a>
        </div>
        <div class="option">
            <img class="option-img" src="/media/site/logout.png" alt="">
            <a class="option-text" href="{% url 'create_quiz' %}">Create quiz</a>
        </div>
    </div>
    <div class="search-bar">
        <form class="search-bar-form" method="GET" action="{% url 'search' %}">
            <input class="form-input" type="text" placeholder="Search quiz" name="q">
        </form>
    </div>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    {% include "quiz_app/message.html" %}

{% block scripts %}

{% endblock %}
</body>
</html>