<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quiz_app/css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <a href="{% url 'user' pk=request.user.pk %}" class="user">
        {% if request.user.userprofile.avatar %}
            <img src="{{request.user.userprofile.avatar.url}}" alt="" class="user-img">
        {% else %}
            <img src="/media/site/user_avatar.jpg" alt="" class="user-img">
        {% endif %}
        <p class="user-name">{{request.user.username}}</p>
    </a>
    <div class="user-options">
        <div class="option">
            <a href="{% url 'home' %}">
                <img class="option-img" src="/media/site/home.svg" alt="">
                <a class="home" href="{% url 'home' %}">Home</a>    
            </a>
        </div>
        <div class="option">
            <a href="{% url 'user_liked' pk=request.user.pk %}">
                <img class="option-img" src="/media/site/heart_empty.svg" alt="">
                <a class="option-text" href="{% url 'user_liked' pk=request.user.pk %}">Liked</a>
            </a>
        </div>
        <div class="option">
            <a href="{% url 'create_quiz' %}">
                <img class="option-img" src="/media/site/add-button.svg" alt="">
                <a class="option-text" href="{% url 'create_quiz' %}">Create quiz</a>
            </a>
        </div>
        <div class="option">
            <a href="{% url 'logout' %}">
                <img class="option-img" src="/media/site/logout.svg" alt="">
                <a class="option-text" href="{% url 'logout' %}">Logout</a>
            </a>
        </div>
    </div>
{% else %}
    <div class="user user-login">
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'sign_up' %}">Sign up</a>
    </div>
{% endif %}
<div class="search-bar">
    <form class="search-bar-form" method="GET" action="{% url 'search' %}">
        <input class="form-input" type="text" placeholder="Search quiz" name="q">
    </form>
</div>
<div class="container">
    {% block content %}

    {% endblock %}
</div>
{% include "quiz_app/message.html" %}
<script>
    function likeQuiz(quizId, quizTitle) {
        fetch(`/quiz_like/${quizId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            credentials: 'same-origin'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            console.log('Quiz liked successfully');

            var div = document.createElement('div');
            div.style.position = "fixed";
            div.style.left = "50px";
            div.style.top = "50px";
            div.textContent = "You liked quiz " + quizTitle;

            var existingDivs = document.querySelectorAll('.like-message');
            var topPosition = 50 + (existingDivs.length * 150);
            div.style.top = topPosition + "px";
            
            div.textContent = "You liked quiz " + quizTitle;
            div.classList.add('success');
            div.classList.add('message');
            div.classList.add('like-message');
            
            document.body.appendChild(div);

            setTimeout(function(){
                document.body.removeChild(div);
            }, 3000)
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function dislikeQuiz(quizId, quizTitle) {
        fetch(`/quiz_dislike/${quizId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            credentials: 'same-origin'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            console.log('Quiz disliked successfully');
            
            var div = document.createElement('div');
            div.style.position = "fixed";
            div.style.left = "50px";
            div.style.top = "50px";
            div.textContent = "You disliked quiz " + quizTitle;
            
            var existingDivs = document.querySelectorAll('.like-message');
            var topPosition = 50 + (existingDivs.length * 150);
            div.style.top = topPosition + "px";

            div.textContent = "You disliked quiz " + quizTitle;
            div.classList.add('success');
            div.classList.add('message');
            div.classList.add('like-message');
        
            
            document.body.appendChild(div);

            setTimeout(function(){
                document.body.removeChild(div);
            }, 3000)

        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

</body>
</html>