<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="*Username">
    <input type="text" name="email" placeholder="*Email">
    <input type="text" name="password1" placeholder="*Password">
    <input type="text" name="password2" placeholder="*Repeat Password">
    <button type="submit">Submit</button>
    {{form.errors}}
</form>
</body>
</html>