{% extends 'quiz_app/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'quiz_app/css/quiz.css' %}">
{% endblock %}

{% block content %}
<form class="form" action="" method="POST">
    {% csrf_token %}
    <input class="quiz-input create-quiz-input" type="text" name="content" placeholder="*Answer">
    <p>Is correct</p>
    <input type="checkbox" name="is_correct">
    <button class="quiz-btn" type="submit">Add anaswer</button>
</form>
{% if form.errors %}
    <ul>
    {% for field in form %}
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}