{% extends 'quiz_app/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'quiz_app/css/quiz/quiz.css' %}">
{% endblock %}

{% block content %}
<form class="form" action="" method="POST">
    {% csrf_token %}
    <input class="quiz-input create-quiz-input" type="text" name="title" placeholder="*Title of quiz">
    <input type="text" class="quiz-input create-quiz-input" name="tags" placeholder="*Tags of quiz">
    <button class="quiz-btn" type="submit">Create</button>
</form>
{% if form.errors %}
    <ul>
    {% for field in form %}
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}