<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quiz_app/css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <a href="{% url 'user' pk=request.user.pk %}" class="user">
            {% if request.user.userprofile.avatar %}
                <img src="{{request.user.userprofile.avatar.url}}" alt="" class="user-img">
            {% else %}
                <img src="/media/site/user_avatar.jpg" alt="" class="user-img">
            {% endif %}
            <p class="user-name">{{request.user.username}}</p>
        </a>
        <div class="user-options">
            <div class="option">
                <a href="{% url 'home' %}">
                    <img class="option-img" src="/media/site/home.svg" alt="">
                    <a class="home" href="{% url 'home' %}">Home</a>    
                </a>
            </div>
            <div class="option">
                <a href="{% url 'user_liked' pk=request.user.pk %}">
                    <img class="option-img" src="/media/site/heart_empty.svg" alt="">
                    <a class="option-text" href="{% url 'user_liked' pk=request.user.pk %}">Liked</a>
                </a>
            </div>
            <div class="option">
                <a href="{% url 'create_quiz' %}">
                    <img class="option-img" src="/media/site/add-button.svg" alt="">
                    <a class="option-text" href="{% url 'create_quiz' %}">Create quiz</a>
                </a>
            </div>
            <div class="option">
                <a href="{% url 'logout' %}">
                    <img class="option-img" src="/media/site/logout.svg" alt="">
                    <a class="option-text" href="{% url 'logout' %}">Logout</a>
                </a>
            </div>
        </div>
    {% else %}
        <div class="user user-login">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'sign_up' %}">Sign up</a>
        </div>
    {% endif %}
    <div class="container quiz-base">
        {% block content %}

        {% endblock %}
    </div>
    {% include "quiz_app/message.html" %}

{% block scripts %}

{% endblock %}

<script>
    function likeQuiz(quizId) {
    fetch(`/quiz_like/${quizId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}', // Ensure CSRF token is included
            'Content-Type': 'application/json'
        },
        credentials: 'same-origin' // Include cookies in the request
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        // Handle the response as needed
        console.log('Quiz liked successfully');
        // Optionally, you can reload the page or update the UI
    })
    .catch(error => {
        console.error('Error:', error);
        // Handle errors, e.g., display an error message
    });
}

function dislikeQuiz(quizId) {
    fetch(`/quiz_dislike/${quizId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}', // Ensure CSRF token is included
            'Content-Type': 'application/json'
        },
        credentials: 'same-origin' // Include cookies in the request
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        // Handle the response as needed
        console.log('Quiz disliked successfully');
        // Optionally, you can reload the page or update the UI
    })
    .catch(error => {
        console.error('Error:', error);
        // Handle errors, e.g., display an error message
    });
}
</script>

</body>
</html>