{% extends 'quiz_app/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'quiz_app/css/question.css' %}">
{% endblock %}

{% block content %}

{% for question in quiz.question_set.all %}
<div class="question">
    <h2 class="question-quiz">{{quiz.title}}</h2>
    <p class="question-content">{{question}}</p>
</div>
<br><br>
<div class="answers">
    <form action="" method="POST">
        {% for answer in question.answer_set.all %}
            <div class="answer">
                {{answer.content }}
                {% if answer.is_correct %}(Correct){% endif %}
            </div>
        {% endfor %}
    </form>
</div>
{% endfor %}

{% endblock %}

{% block scripts %}

{% endblock %}
