{% extends 'quiz_app/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'quiz_app/css/quiz.css' %}">
{% endblock %}

{% block content %}
<div class="question-change">
    <form class="form" method="POST" enctype="multipart/form-data" name="form-question">
            {% csrf_token %}
            <input class="quiz-input create-quiz-input" type="text" name="question-content" placeholder="*Question">
            <button class="quiz-btn" type="submit">Change question</button>
    </form>
    {% for answer in answers %}
        <form class="form" method="POST" enctype="multipart/form-data" name="form-answer">
            {% csrf_token %}
            <p>Old answer: {{answer.content}}</p>
            {% if answer.is_correct %}
                <p>is correct</p>
            {% endif %}
            <input class="quiz-input create-quiz-input" name="answer-contnet" type="text" placeholder="*New answer">
            <button class="quiz-btn" type="submit">Change answer</button>
        </form>
    {% endfor %}
</div>
<div class="answer-add-div">
    <a href="{% url 'quiz_add_answer' quiz_id=quiz.id question_id=question.id %}" class="quiz-btn add-answer">Add answer</a>
    <a href="{% url 'quiz_question_delete' quiz_id=quiz.id question_id=question.id %}" class="quiz-btn add-answer">Delete question</a>
</div>
{% if form.errors %}
    <ul>
    {% for field in form %}
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}