{% extends 'quiz_app/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'quiz_app/css/quiz.css' %}">
{% endblock %}

{% block content %}
<div class="change-title">
    <form class="form" action="" method="POST">
        {% csrf_token %}
        <p class="form-title">{{quiz.title}}</p>
        <input class="quiz-input create-quiz-input" type="text" name="title" placeholder="*Title of quiz" required>
        <button class="quiz-btn" type="submit">Change</button>
    </form>
</div>
<div class="questions">
    {% for question in questions %}
        <div class="question">
            <a href="{% url 'quiz_change_question' quiz_id=quiz.id question_id=question.id %}">{{question.content}}</a>
            <!-- <button>Delete question</button> -->
        </div>
    {% endfor %}
    <div class="question">
        <a href="{% url 'quiz_add_question' quiz_id=quiz.id %}">Add question +</a>
    </div>
    <div class="delete-quiz answer-add-div">
        <a href="{% url 'quiz_delete' quiz_id=quiz.id %}" class="quiz-btn add-answer">Delete quiz</a>
    </div>
</div>
{% if form.errors %}
    <ul>
    {% for field in form %}
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}