{% extends 'quiz_app/quiz/quiz_base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'quiz_app/css/question.css' %}">
{% endblock %}

{% block content %}

<div class="question">
    <h2 class="question-quiz">{{quiz.title}}</h2>
    {% if question.content_image %}
        <img src="{{question.content_image.url}}" alt="{{question}}" class="adaptive-image">
    {% endif %}
    <p class="question-content">{{ question }}</p>
</div>
<br><p class="stopwatch" id="stopwatch">360</p><br>
<form action="" method="POST">
    <div class="answers">
        {% for answer in question.answer_set.all %}
            <a class="answer" href="
            {% if next_question %}
                {% url 'quiz' quiz_id=quiz.id question_id=next_question.id %}
            {% else %}
                {% url 'quiz_result' quiz.id%}
            {% endif %}">
                {{answer.content }}
                {% if answer.is_correct %}(Correct){% endif %}
            </a>
        {% endfor %}
    </div>
</form>

{% endblock %}
{% block scripts %}
<script src="{% static 'quiz_app/js/stopwatch.js' %}"></script>

{% endblock %}
