<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quiz_app/css/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="" method="POST" class="form-login">
            {% csrf_token %}
            <h3 class="form-title">Login</h3>
            <div class="form-inputs">
                <input type="text" class="form-input" name="username" placeholder="*Username or email">
                <input type="text" class="form-input" name="password" placeholder="*Password">
            </div>
            <button type="submit" class="form-btn">Submit</button>
            <a href="{% url 'sign_up' %}">Don't have account?</a>
        </form>
    </div>
    {% include "quiz_app/message.html" %}
</body>
</html>