{% extends 'quiz_app/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'quiz_app/css/user.css' %}">
{% endblock %}

{% block content %}

<div class="userblock">
    <div class="userblock-info">
        <div class="userblock-left">
            {% if user_avatar.avatar %}
                <img class="user-avatar" src="{{ user_avatar.avatar.url }}" alt="">
            {% else %}
                <img class="user-avatar" src="/media/site/user_avatar.jpg" alt="">
            {% endif %}
        </div>
        <div class="userblock-right">
            <h2 class="username">{{user.username}}</h2>
            <h4 class="useremail">{{user.email}}</h4>
        </div>
        <div class="userblock-buttons">
            <a class="userblock-liked button" href="{% url 'user_liked' pk=user.pk %}">
                <img class="userblock-img" src="/media/site/heart.png" alt="">
            </a>
            {% if request.user.pk == user.pk %}
                <div class="userblock-liked button" onclick="showOptionBlock()">
                    <img class="userblock-img" src="/media/site/settings.png" alt="">
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="userblock-option" id="userblock-option">
    <p class="close-button" onclick="closeOptionBlock()">close</p>
    <a href="">
        {% if user_avatar.avatar %}
            <img class="user-avatar" src="{{ user_avatar.avatar.url }}" alt="">
        {% else %}
            <img class="user-avatar" src="/media/site/user_avatar.jpg" alt="">
        {% endif %}
    </a>
    <button class="change-username">Change username</button>
    <button class="change-email">Change email</button>
    <button class="change-password">Change password</button>
</div>

<div class="user-quizzes">
    {% for quiz in users_quizzes %}
        <div>
            <div class="quiz">
                <div class="quiz-rating">
                    {% if quiz.id in liked_quizzes %}
                        <a onclick="dislikeQuiz({{ quiz.id }}, '{{ quiz.title }}')"><img src="/media/site/heart_full.svg" alt="heart"></a>
                    {% else %}
                        <a onclick="likeQuiz({{ quiz.id }}, )"><img src="/media/site/heart_empty.svg" alt="heart"></a>
                    {% endif %}
                </div>
                    <a class="my-quiz quiz-title" href="{% url 'quiz_change' quiz_id=quiz.id %}">{{quiz.title}}</a>
                <div class="quiz-info">
                    <div class="info-user">
                        {% if quiz.author.user_avatar.avatar %}
                            <img class="user-avatar" src="{{ user_avatar.avatar.url }}" alt="">
                        {% else %}
                            <img class="user-avatar" src="/media/site/user_avatar.jpg" alt="">
                        {% endif %}
                        <p>{{quiz.author}}</p>
                    </div>
                    <div class="date">{{quiz.created_at|date:"d F Y"}}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'quiz_app/js/user.js' %}"></script>
<script src="{% static 'quiz_app/js/like_dislike.js' %}"></script>

{% endblock %}